.divCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#inputString {
    width: 240px;
    /* text-decoration: line-through; */
}

.deleteDo {
    align-self: flex-end;
}